<div class="row">
  <div class="col-md-9 mb-md-0 mb-5">
    <h2 class="h1-responsive font-weight-bold my-5">Enter text to analyze</h2>
    <%= form_tag({:controller => "welcome", :action => "index"}, {:method => "post", :class => "form-horizontal"}) do %>
       <div class="row">
        <div class="col-md-12">
          <%= text_area_tag(:text_input, params[:text_input], class:'form-control', required: true, rows: 10 ) %>
        </div>
      </div>
      <br />
      <%= submit_tag 'Submit', class: "btn btn-danger", id:"submit" %>
    <% end %>
    <% if @result %>
        <h4 class="h1-responsive font-weight-bold my-5">Result:</h2>
        <span title="<%= @result[0] %>"><%= @result[1] %></span>
    <% end %>
  </div>
</div>
