<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homework 3PG</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="body-margin">
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <span>
      <%= link_to ("<i class='fa fa-pencil'></i> " + "Homework for 3PG").html_safe, root_path, class: "navbar-brand" %>
    </span>
    </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%= yield %>
        </div>
      </div><!--/row-->
  </div> <!-- /container -->
  <footer class="footer">
    <div class="container">
      <span class="text-muted">Iulia Gatea</span>
      <span class="pull-right"><%= Date.today.year %></span>
    </div>
  </footer>

</body>
</html>
